terratowns_endpoint="https://terratowns.cloud/api"
thaifood = {
    public_path="/workspace/terraform-beginner-bootcamp-2023/public/thaifood"
    content_version=1
}

thaiband = {
    public_path="/workspace/terraform-beginner-bootcamp-2023/public/thaiband"
    content_version=1
}